body{
    background-image: radial-gradient( circle 403px at 51.3% 0.3%,  rgba(103,210,217,1) 0%, rgba(102,170,192,1) 100.2% );
    background-repeat: no-repeat;
}

#title{
    text-align: center;
}

.card{
    margin-top: 12rem;
    border-style: double;
    border-color: black;
    align-content: center;
    text-align: center;
}